/*
.hide-left-sidebar {
    display: none !important;
}
*/

#left-sidebar {
    
}

body.hide-left-sidebar #left-sidebar {
    display: none !important;
}

#popular-communities-list {
    display: none !important;
}

alert-controller {
    display: none !important;
}
