body.hide-left-sidebar #left-sidebar-container {
    display: none !important;
}

body.hide-popular-communities-list .right-rail-popular-communities {
    display: none !important;
}

body.hide-header .h-header-large {
    display: none !important;
}

alert-controller {
    display: none !important;
}

video[autoplay] {
    --autoplay: off !important;
}
