*,
*:before,
*:after {
    box-sizing: border-box;
}

span {
    width: 110px;
}

label:has([role="switch"]) {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
}

[role="switch"] {
    --height: 1.1875em;
    --width: 0.8;

    appearance: none;
    display: inline-block;
    background-color: #e5e5e5;
    height: var(--height);
    width: calc(var(--height) * calc(1 + var(--width)));
    border: 0;
    border-radius: 99em;
}

/* thumb */
[role="switch"]::after {
    content: "";
    display: block;
    aspect-ratio: 1;
    background-color: white;
    border: max(2px, 0.125em) solid #808080;
    height: 100%;
    border-radius: 50%;
}

[role="switch"]:checked {
    background-color: #0088cc;
}

[role="switch"]:checked::after {
    border-color: #0088cc;
    translate: calc(var(--height) * var(--width)) 0;
}

[role="switch"] {
    transition: background-color 100ms ease-in-out;
}

[role="switch"]::after {
    transition: translate 100ms ease-in-out;
}
